@{
    ViewData["Title"] = "Clear Data";
}

<div>
    <form asp-action="Clear">
        <input type="submit" value="Clear" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>

