@{
    ViewData["Title"] = "Init Data";
}

<div>
    <form asp-action="Init">
        <input type="submit" value="Init" class="btn btn-danger" /> |
        <a asp-action="List">Back to List</a>
    </form>
</div>
