@{
    ViewData["Title"] = "Not Found";
}

<div class="text-center">
    <h1>Error 404</h1>
    <p>Page Not Found</p>
    <p>Go back to <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>
</div>
